{% block meta %}
    <meta name="DC.title" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %} - Sustainable and Communal Living in Ibadan, Nigeria">
    <meta name="DC.description" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %} is a real estate development company under The Liozio Companies, dedicated to building sustainable and affordable housing solutions in Ibadan.">
    <link rel="canonical" href="https://www.lioziorealestate.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %} - Affordable and Sustainable Housing in Ibadan">
    <meta name="twitter:description" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %} builds houses for sale that reflect sustainability and communal living. Explore our innovative projects and commitment to redefining housing in Ibadan.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dcz2xlx1b/image/upload/v1732090911/lrec_original_wid8rc.png">
    <meta name="twitter:site" content="@LiozioCompanies">
    <link rel="alternate" href="https://www.lioziorealestate.com" hreflang="en">
    <meta property="og:title" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %} - Sustainable and Communal Living Solutions in Ibadan" />
    <meta name="description" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %}, a real estate development company under The Liozio Companies, specializes in building sustainable and communal housing solutions. Explore our innovative projects, including the Agnes terrace duplexes, and discover your dream home in Ibadan, Nigeria." />
    <meta property="keywords" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %}, Liozio Real Estate, real estate in Ibadan, sustainable housing, communal living, affordable homes, real estate development, terrace duplexes, estate buildings, housing solutions in Ibadan, Liozio Companies, sustainable real estate, innovative housing projects" />
    <meta name="robots" content="max-image-preview:large" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="Liozio Real Estate Development Company (LREC)" />
    <meta property="og:site_name" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %} - Liozio Real Estate Development Company">
    <meta property="og:title" content="{% if unit_title == "The Agnes" %} {{unit_title}} {% else %} {{ unit_title }}(The Agnes){% endif %} - Sustainable and Communal Living Solutions in Ibadan"/>
    <meta property="og:description" content="Discover LREC, a visionary real estate company focused on creating sustainable and affordable housing for communal living in Ibadan, Nigeria. Our maiden project, Agnes, is a testament to our commitment to quality and innovation." />
    <meta property="og:keywords" content="LREC, Liozio Real Estate, real estate in Ibadan, sustainable housing, communal living, affordable homes, real estate development, terrace duplexes, estate buildings, housing solutions in Ibadan, Liozio Companies, sustainable real estate, innovative housing projects"/>
    <meta property="og:url" content='https://www.lioziorealestate.com'/>
    <meta property="og:image" content="https://res.cloudinary.com/dcz2xlx1b/image/upload/v1732090911/lrec_original_wid8rc.png"/>
    <meta property="og:image:secure_url" content="https://res.cloudinary.com/dcz2xlx1b/image/upload/v1732090911/lrec_original_wid8rc.png"/>
    <meta property='og:image:type' content='image/png' />
    <meta property="og:type" content='website'/> 
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/" />
    
{% endblock meta %}