<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="LREC - Sustainable and Communal Living Solutions in Ibadan" />
    <meta name="description" content="LREC, a real estate development company under The Liozio Companies, specializes in building sustainable and communal housing solutions. Explore our innovative projects, including the Agnes terrace duplexes, and discover your dream home in Ibadan, Nigeria." />
    <meta property="keywords" content="LREC, Liozio Real Estate, real estate in Ibadan, sustainable housing, communal living, affordable homes, real estate development, terrace duplexes, estate buildings, housing solutions in Ibadan, Liozio Companies, sustainable real estate, innovative housing projects" />
    <meta name="robots" content="max-image-preview:large" />
    <meta name="robots" content="index, follow">
    <meta name="author" content="Liozio Real Estate Development Company (LREC)" />
    <meta property="og:site_name" content="LREC - Liozio Real Estate Development Company">
    <meta property="og:title" content="LREC - Sustainable and Communal Living Solutions in Ibadan"/>
    <meta property="og:description" content="Discover LREC, a visionary real estate company focused on creating sustainable and affordable housing for communal living in Ibadan, Nigeria. Our maiden project, Agnes, is a testament to our commitment to quality and innovation." />
    <meta property="og:keywords" content="LREC, Liozio Real Estate, real estate in Ibadan, sustainable housing, communal living, affordable homes, real estate development, terrace duplexes, estate buildings, housing solutions in Ibadan, Liozio Companies, sustainable real estate, innovative housing projects"/>
    <meta property="og:url" content='https://www.lioziorealestate.com/'/>
    <meta property="og:image" content="https://res.cloudinary.com/dcz2xlx1b/image/upload/v1732090911/lrec_original_wid8rc.png"/>
    <meta property="og:image:secure_url" content="https://res.cloudinary.com/dcz2xlx1b/image/upload/v1732090911/lrec_original_wid8rc.png"/>
    <meta property='og:image:type' content='image/png' />
    <meta property="og:type" content='website'/> 
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/" />

    {% block meta %}
    
    {% endblock meta %}
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
    {% block internal_styles %}
    
    {% endblock internal_styles %}
</head>
{% block content %}

{% endblock content %}
</html>